@import 'variable';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Karla", serif;
}

%font_family_Karla {
    font-family: "Karla", serif;
}

%font_family_Serif {
    font-family: "DM Serif Display", serif;
}



@mixin linewidthMixin($borderColor) {
    border: 1px solid $borderColor;
    width: 8rem;
  }


.button_border {
    border: 2px solid black;
    padding: 5px 10px;
    &:hover{
        background-color: $Very_dark_violet;
        color: $Very_light_gray !important;;
      
    }
}



.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 27rem;
    padding: 20px;
    align-items: center;

    &_menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
        text-transform: uppercase;
        align-items: center;
        @extend %font_family_Karla;


        &_link {
            text-decoration: none;
            color: $Dark_grayish_violet;
            @extend %font_family_Karla;
            &:hover{
                color: $Very_dark_violet;
            }
        }
    }
}

.first_section_container {
    background-color: $Dark_violet;
    position: relative;
    overflow: hidden;
    padding: 50px 0px;

    &_rightpattern {
        position: absolute;
        right: 0px;
        top: -5rem;
        z-index: 1;

        img {
            max-height: 575px;
        }
    }

    &_leftpattern {
        position: absolute;
        top: 31.5rem;
    }

    &_block {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;

        &_content {
            display: flex;
            flex-direction: column;
            // padding: 0px 117px;
            // margin: 122px;
            margin: 80px 50px 122px 122px ;
            justify-content: space-between;
            gap: 34px;

            &_line {
                @include linewidthMixin(#ffffff);
            }

            h1 {
                font-size: 4.51rem;
                color: $Very_light_gray;
                line-height: 0.9;
                font-weight: 400;
                @extend %font_family_Serif;
            }

            p {
                color: $Very_light_gray;
                font-size: 15px;
                line-height: 1.6;
                @extend %font_family_Karla;
            }

            a {
                text-transform: uppercase;
                color: aliceblue;
                text-decoration: none;
                border: 2px solid #ffffff;
                width: 140px;
                padding: 6px 17px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1px;
                &:hover{
                    background-color:$Very_light_gray;
                    color: $Very_dark_violet;
                }
            }
        }

        &_img {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;

            img {
                position: absolute;
                top: -30.5rem;
                right: 8rem;
            }
        }
    }
}

.second_section_container {
    margin: 15rem 0rem 0rem 0rem;
    padding: 2.5rem 7.7rem;

    &_title {
        display: flex;
        flex-direction: column;
        gap: 60px;

        &_line {
            // border: 1px solid #95a9c6;
            // width: 8rem;
            @include linewidthMixin(#aa91bbab);
        }

        h1 {
            font-size: 4.51rem;
            color: $Very_dark_violet;
            line-height: 0.9;
            font-weight: 400;
            @extend %font_family_Serif;
        }
    }

    &_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 4rem 0rem;

        &_card {
            display: flex;
            flex-direction: column;
            gap: 24px;
            line-height: 1.6;
            padding: 25px;


            img {
                height: 80px;
                width: 80px;
            }

            h1 {
                @extend %font_family_Serif;
                font-weight: 400;
            }

            p {
                color: $Dark_grayish_violet;
            }
        }
    }

}

.third_section_container {
    background-color: $Dark_violet;
    margin: 50px 125px;
    padding: 20px;
    overflow: hidden;
    position: relative;

    &_block {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 50px;
      &_title{
        h1{
            font-size: 3.65rem;
            color: $Very_light_gray;
            line-height: 0.9;
            font-weight: 400;
            @extend %font_family_Serif;  
        }
      }
     &_button{
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            z-index: 1 !important;
          
            a{
                text-transform: uppercase;
                color: aliceblue;
                text-decoration: none;
                border: 2px solid #ffffff;
                padding: 11px 22px;
                font-size: 15px;
                font-weight: 400;
                // z-index: 1 !important;
            &:hover{
                background-color: $Very_light_gray;
                color: $Very_dark_violet;
              
            }
                
            }
        }
    }
    &_bgImg{
        position: absolute;
        top: 0px;
        right: 0;
        background: transparent;
    }



}

.footer{
    background-color: #fafcff;
    background-image: url(images/bg-pattern-footer-desktop.svg);
    // background-image: url(images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
  
    padding: 1px;
    margin-top: 10rem;
    &_block{

        margin: 60px 111px;
   
  
    
    // padding: 20px;
      &_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &_icons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 15px;
            svg path {
                width: 24px; 
                height: auto;
                transition: fill 0.3s ease; 
        
                &:hover {
                        fill: $Very_dark_violet; 
                    
                }
            }
            
        }
      }
     &_line{
        border: 1px solid #837d873b;
        // width: 64rem;
        margin: 30px 0px;
     }
     &_menu{
        display: flex;
        flex-direction: row;
        gap: 12rem;
        &_link{
            &_header{
                text-transform: uppercase;
                color:$Dark_grayish_violet;
                // font-weight: 400;
                letter-spacing: 1px;
                font-size: 14px;
            }
            &_menu{
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 12px;
                text-transform: uppercase;
                margin: 25px 0px;
                a{
                    text-decoration: none;
                    color: $Very_dark_violet;
                    font-weight: 700;
                    letter-spacing: 1px;
                    font-size: 14px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
}